@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    background-color: #f9fafc;
    font-family: 'Open Sans', sans-serif;

}

h1 {
    font-size: 1.2rem;
}

h2 {
    font-size: 2rem;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column; /* responsive switch from row to column*/
    
}

li {
    font-weight: 800;
    padding-bottom: .7rem;
}

#selected, #scroll{
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 10px 40px;
    text-align: center;
}

a {
    font-weight: 800;
    text-decoration: none;
}

#scroll {
    padding: 10px 25px;
    font-weight: 800;
}

#scroll a {
    color: white;
}


p {
    /* width: 50%; responsive commented out to make it the decaust 100%*/ 
    border-left: 3px solid #bebebe;
    padding: 10px;
}

li, p {
    color: #69696a;  
  }

/* Circle section */

.circle {
    border-radius: 100%;
    visibility: hidden;
}

#pink {
    background-color: rgba(247, 136, 167, 0.6);
    width: 400px;
    height: 400px;
    position: absolute;
    left: 900px;
    top: 200px
}

#purple {
    background-color: rgba(207, 130, 213, 0.6);
    width: 185px;
    height: 185px;
    position: absolute;
    top: 250px;
    left: 1230px;
}

#yellow {
    background-color: rgba(247, 193, 162, 0.7);
    width: 250px;
    height: 250px;
    position: absolute;
    top: 400px;
    left: 1200px;
}

@media only screen and (min-width: 768px) { 
    .circle {
        visibility: visible;
    }

    nav {
        display: flex;
        flex-direction: row;
    }

    ul {
        flex-direction: row;
        margin-left: auto;
    }

    li {
        margin-right: 25px;
    }

    h1 {
      display: inline;  
    }
    p {
        width: 50%;
        margin-bottom: 400px; 
    }
    #circles {
        right: 50px;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #scroll {
        width: 100px;
    }
}